<a href="https://colab.research.google.com/github/financieras/retos_python/blob/main/Extraer_de_lista_de_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reto: Extraer el elemento n-ésimo de una lista de tuplas
Dada una lista de tuplas deseamos extraer únicamente el elemento n-ésimo de todas ellas. Por ejemplo, deseamos extraer el segundo elemento de esta lista de tuplas:  
`[(1,'a',10), (2,'b',20), (3,'c',30)]`

El resultado obtenido será:  
`['a', 'b', 'c']`

## Solución. Método 1

In [4]:
lista_tuplas = [(1,'a',10), (2,'b',20), (3,'c',30)]

n = 1  # Índice del elemento que deseamos extraer

list(zip(*lista_tuplas))[n]

('a', 'b', 'c')

## Solución. Método 2

In [5]:
lista_tuplas = [(1,'a',10), (2,'b',20), (3,'c',30)]

n = 1  # Índice del elemento que deseamos extraer

[x[n] for x in lista_tuplas]

['a', 'b', 'c']

## Solución. Método 3
* Utilizamos la función `lambda` para definir una función anónima que toma cada tupla `x` y devuelve el elemento en la posición `n`.
* Luego, utilizamos `map` para aplicar esta función a cada elemento de `lista_tuplas`.
* Finalmente, convertimos el resultado en una lista utilizando `list()`.

In [6]:
lista_tuplas = [(1,'a',10), (2,'b',20), (3,'c',30)]

n = 1  # Índice del elemento que deseamos extraer

list(map(lambda x: x[n], lista_tuplas))

['a', 'b', 'c']